---
fields:
  - name: oldPassword
    label: Старый пароль
    value: '*********'
  - name: newPassword
    label: Новый пароль
    value: '***********'
  - name: newPasswordRepeat
    label: Повторите новый пароль
    value: '***********'
---
{{!< main}}

<div id="profile">
    <div class="profile_back">
        <a href="/"></a>
    </div>
    <main class="profile_container">
        <form action="" class="profile_form profile_form_password">
            <div class="avatar avatar_big">
                <img src="/static/avatar.png" alt="">
            </div>
            <ul class="fields lines">
                {{#each fields as | field |}}
                <li class="field">
                    <label class="label" for="{{field.name}}">{{field.label}}</label>
                    <input class="text value" type="password" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
                </li>
                {{/each}}
            </ul>
            <button type="submit">Сохранить</button>
        </form>
    </main>
</div>
